<div class='carddetailPage'>
  <div class="container">
      <div class="mx-auto w-75" style="margin-top: 150px;">

        <p class="text-center">インサイダーだと<br>疑う人を選択してください</p>

        <div id="container">
          <%= form_for(@theme, url: fase02update_room_theme_path, html: { class: 'cardeditForm mt-5' }, local: true) do |f| %>
            <% if @theme.errors.any? %>
              <p class="text-danger">なにかトラブルです</p>
            <% end %>
             <!--　selectの選択用に配列を用意しておく -->
              <% userArray = [@room.User01Name, @room.User02Name, @room.User03Name, @room.User04Name, @room.User05Name, @room.User06Name, @room.User07Name, @room.User08Name] %>
              <% userArrayNew = userArray[0..@theme.Nop-1] %>

            <div class="cardeditForm_title">
              <ul>
                  <li class="d-flex flex-row">
                    <div class="w-100 text-center"><%= @room.User01Name %>さん：</div>
                    <%# userArrayNew.delete(@room.User01Name) %> <!-- Aさんのみ除くメモ -->
                    <%= f.select :Answer01, userArrayNew, {include_blank: true}, class: 'form-control', required: true%>
                  </li>
                  <li class="d-flex flex-row">
                    <div class="w-100 text-center"><%= @room.User02Name %>さん：</div>
                    <%# userArrayNew.delete(@room.User01Name) %> <!-- Aさんのみ除くメモ -->
                    <%= f.select :Answer02, userArrayNew, {include_blank: true}, class: 'form-control', required: true %>
                  </li>
                  <li class="d-flex flex-row">
                    <div class="w-100 text-center"><%= @room.User03Name %>さん：</div>
                    <%# userArrayNew.delete(@room.User01Name) %> <!-- Aさんのみ除くメモ -->
                    <%= f.select :Answer03, userArrayNew, {include_blank: true}, class: 'form-control', required: true %>
                  </li>
                  <li class="d-flex flex-row">
                    <div class="w-100 text-center"><%= @room.User04Name %>さん：</div>
                    <%# userArrayNew.delete(@room.User01Name) %> <!-- Aさんのみ除くメモ -->
                    <%= f.select :Answer04, userArrayNew, {include_blank: true}, class: 'form-control', required: true %>
                  </li>
                <% if @theme.Nop == 5 || @theme.Nop == 6 || @theme.Nop == 7 || @theme.Nop == 8%>
                  <li class="d-flex flex-row">
                    <div class="w-100 text-center"><%= @room.User05Name %>さん：</div>
                    <%# userArrayNew.delete(@room.User01Name) %> <!-- Aさんのみ除くメモ -->
                    <%= f.select :Answer05, userArrayNew, {include_blank: true}, class: 'form-control', required: true %>
                  </li>
                <% end %>
                <% if @theme.Nop == 6 || @theme.Nop == 7 || @theme.Nop == 8%>
                  <li class="d-flex flex-row">
                    <div class="w-100 text-center"><%= @room.User06Name %>さん：</div>
                    <%# userArrayNew.delete(@room.User01Name) %> <!-- Aさんのみ除くメモ -->
                    <%= f.select :Answer06, userArrayNew, {include_blank: true}, class: 'form-control', required: true %>
                  </li>
                <% end %>
                <% if @theme.Nop == 7 || @theme.Nop == 8%>
                  <li class="d-flex flex-row">
                    <div class="w-100 text-center"><%= @room.User07Name %>さん：</div>
                    <%# userArrayNew.delete(@room.User01Name) %> <!-- Aさんのみ除くメモ -->
                    <%= f.select :Answer07, userArrayNew, {include_blank: true}, class: 'form-control', required: true %>
                  </li>
                <% end %>
                <% if @theme.Nop == 8%>
                  <li class="d-flex flex-row">
                    <div class="w-100 text-center"><%= @room.User08Name %>さん：</div>
                    <%# userArrayNew.delete(@room.User01Name) %> <!-- Aさんのみ除くメモ -->
                    <%= f.select :Answer08, userArrayNew, {include_blank: true}, class: 'form-control', required: true %>
                  </li>
                <% end %>
              </div>
              </ul>
            <div class="text-center mt-5"><%= f.submit "ジャッジメント", class: "btn btn-main" %></div>
          <% end %>
        </div>
        
      </div>
  </div>
</div>