<div class="listnewPage">
  <div class="container">
    <%= form_with model: @theme, url: { action: :create }, class: "new_list", local: true do |f| %>
      <!-- room_idを非表示で格納する -->
      <%= f.hidden_field :room_id, value: @room.id %>

      <!-- Titleに、Wordモデル×ランダムで抽出したWordをを格納する -->
      <%= f.hidden_field :Title, value: Word.offset(rand(Word.count)).first.Word %>

      <!-- User01~08Nameに入っている数（Userの数）を出す -->
      <% addUser = [@room.User05Name, @room.User06Name, @room.User07Name, @room.User08Name]%>
      <% nop = addUser.count{ |num| !num.empty? }+4 %>
      <h3 class="text-center">プレイヤー人数： <%= nop %> 名</h3>
        <%= f.hidden_field :Nop, value: nop %>
      <!-- User01~08Roleをプレイヤー人数に合わせて取り出しシャッフルして格納する -->
      <% userRole = [@room.User01Role, @room.User02Role, @room.User03Role, @room.User04Role, @room.User05Role, @room.User06Role, @room.User07Role, @room.User08Role] %>

      <% if nop == 4 %>
        <% userRoleArray = userRole[0..3].shuffle%>
        <%= f.hidden_field :Insider, value: userRoleArray[0] %>
        <%= f.hidden_field :Master, value: userRoleArray[1] %>
        <%= f.hidden_field :Normal01, value: userRoleArray[2] %>
        <%= f.hidden_field :Normal02, value: userRoleArray[3] %>

      <% elsif nop == 5 %>
        <% userRoleArray = userRole[0..4].shuffle%>
        <%= f.hidden_field :Insider, value: userRoleArray[0] %>
        <%= f.hidden_field :Master, value: userRoleArray[1] %>
        <%= f.hidden_field :Normal01, value: userRoleArray[2] %>
        <%= f.hidden_field :Normal02, value: userRoleArray[3] %>
        <%= f.hidden_field :Normal03, value: userRoleArray[4] %>

      <% elsif nop == 6 %>
        <% userRoleArray = userRole[0..5].shuffle%>
        <%= f.hidden_field :Insider, value: userRoleArray[0] %>
        <%= f.hidden_field :Master, value: userRoleArray[1] %>
        <%= f.hidden_field :Normal01, value: userRoleArray[2] %>
        <%= f.hidden_field :Normal02, value: userRoleArray[3] %>
        <%= f.hidden_field :Normal03, value: userRoleArray[4] %>
        <%= f.hidden_field :Normal04, value: userRoleArray[5] %>

      <% elsif nop == 7 %>
        <% userRoleArray = userRole[0..6].shuffle%>
        <%= f.hidden_field :Insider, value: userRoleArray[0] %>
        <%= f.hidden_field :Master, value: userRoleArray[1] %>
        <%= f.hidden_field :Normal01, value: userRoleArray[2] %>
        <%= f.hidden_field :Normal02, value: userRoleArray[3] %>
        <%= f.hidden_field :Normal03, value: userRoleArray[4] %>
        <%= f.hidden_field :Normal04, value: userRoleArray[5] %>
        <%= f.hidden_field :Normal05, value: userRoleArray[6] %>

      <% elsif nop == 8 %>
        <% userRoleArray = userRole[0..7].shuffle%>
        <%= f.hidden_field :Insider, value: userRoleArray[0] %>
        <%= f.hidden_field :Master, value: userRoleArray[1] %>
        <%= f.hidden_field :Normal01, value: userRoleArray[2] %>
        <%= f.hidden_field :Normal02, value: userRoleArray[3] %>
        <%= f.hidden_field :Normal03, value: userRoleArray[4] %>
        <%= f.hidden_field :Normal04, value: userRoleArray[5] %>
        <%= f.hidden_field :Normal05, value: userRoleArray[6] %>
        <%= f.hidden_field :Normal06, value: userRoleArray[7] %>

      <% else %>
        <p>トラブルが起きました！ERROR！</p>
      <% end %>  
      
      <% if @theme.errors.any? %>
        <p class="text-danger">最初からやり直してください</p>
      <% end %>

      <div class="text-center mt-5"><%= f.submit "確認", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>