<div class="listnewPage">
  <div class="container">
    <%= form_with model: @theme, url: { action: :create }, class: "new_list", local: true do |f| %>
      <!-- room_idを非表示で格納する -->
      <%= f.hidden_field :room_id, value: @room.id %>

      <!-- Titleに、Wordモデル×ランダムで抽出したWordをを格納する -->
      <%= f.hidden_field :Title, value: Word.offset(rand(Word.count)).first.Word %>

      <!-- User01~08Nameに入っている数（Userの数）を出す -->
      <% addUser = [@room.User05Name, @room.User06Name, @room.User07Name, @room.User08Name]%>
      <% nop = addUser.count{ |num| !num.empty? }+4 %>
      <h3 class="text-center">プレイヤー人数： <%= nop %> 名</h3>
        <%= f.hidden_field :Nop, value: nop %>
      <!-- User01~08Roleをプレイヤー人数に合わせて取り出しシャッフルして格納する -->
      <% userRole = [@room.User01Role, @room.User02Role, @room.User03Role, @room.User04Role, @room.User05Role, @room.User06Role, @room.User07Role, @room.User08Role] %>

      <p class="text-center mt-5">オプション設定の有無を選択してください</p>
      <hr>
      <div class="text-center list-unstyled p-3">
        <% if nop <= 5 %>
            <li>ノーインサイダー：<%= f.check_box :PeaceCheck, {class: "selectOption"}, "1", "0" %></li>
        <% elsif nop >= 6 %>
            <li>クレイジー：<%= f.check_box :CrazyCheck, {class: "selectOption"}, "1", "0" %></li>
            <li>タッグ：<%= f.check_box :TagCheck, {class: "selectOption"}, "1", "0" %></li>
        <% else %>
            <p>トラブルが起きました！ERROR！</p>
        <% end %>
      </div>


      <div>
        <hr>
        <p>※ オプション補足</p>
        <ul>
        <li>ノーインサイダー：1/<%= nop %>の確率で、インサイダー不在となります。全体的な難易度が上がります。</li> 
        <% if nop >= 5 %>
          <li>クレイジー：インサイダー側の役職で、インサイダーの勝利で自らも勝利となります。テーマの答えは知っているものの誰がインサイダーかは知りません。</li> 
          <li>タッグ：2/<%= nop %>名が、ペアとなり、お互いが市民であることを知っています。市民側の勝利確率が上がります。</li>
        <% end %> 
        </ul>
        <hr> 
      </div>
      
      <div class="text-center mt-5"><%= f.submit "確認", class: "submitBtn" %></div>
    <% end %>
  </div>
</div>