<div class='carddetailPage'>
  <div class="container">
      <div class="mx-auto　w-75" style="margin-top: 150px">
        <p class="text-center">各自の役職を確認してください<br>
                                ※ URL共有で各自デバイスにて確認可能</p>
        <!-- どこに01~08のデータが入っているかを確認する-->
        theme.Insider
        <%= roleArray = [@theme.Insider, @theme.Master, @theme.Normal01, @theme.Normal02, @theme.Normal03, @theme.Normal04, @theme.Normal05, @theme.Normal06, @theme.Normal07, @theme.Tag1, @theme.Tag2, @theme.Crazy] %>

        room.User01Role
        <%= add = [@room.User01Role, @room.User02Role, @room.User03Role, @room.User04Role, @room.User05Role, @room.User06Role, @room.User07Role, @room.User08Role] %>

        <%= roleArrayNew = @roleArray %>
        <% [*1..8].each do |num| %>
          <% user01Num = roleArrayNew.index("User01Role") %>
          <% user02Num = roleArrayNew.index("User02Role") %>
          <% user03Num = roleArrayNew.index("User03Role") %>
          <% user04Num = roleArrayNew.index("User04Role") %>
          <% user05Num = roleArrayNew.index("User05Role") %>
          <% user06Num = roleArrayNew.index("User06Role") %>
          <% user07Num = roleArrayNew.index("User07Role") %>
          <% user08Num = roleArrayNew.index("User08Role") %>
        <% end %>
      <!-- 01~08までの役割を明示する -->
      <% hashu = ["インサイダー（テーマ："+@theme.Title+"）", "マスター（テーマ："+@theme.Title+"）", "市民", "市民", "市民", "市民", "市民", "市民", "タッグ"] %>
          <ul class="list-unstyled">
              <li>
                  <div class="d-flex justify-content-around">
                    <div class="btn btn-redBlack">
                      <%= @room.User01Name %>
                    </div>
                    <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal01" data-keyboard="true">
                      確認する
                    </p>
                  </div>
                  <% [*1..8].each do |n|%>
                    <div class="modal fade" id=<%= "Modal0#{n}"%> tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered"><!-- modal-dialog-centeredのクラス追加で真ん中になる -->
                        <div class="modal-content">
                          <div class="modal-body">
                            <p class="text-center p-mb-5">
                              <%= hashu[n] %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end%>
              </li>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User02Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal02" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User03Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal03" data-keyboard="true">
                    確認する
                  </p>
                </div>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User04Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal04" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% if !user05Num.nil? %>
               <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User05Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal05" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% end %>
            <% if !user06Num.nil? %>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User06Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal06" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% end %>
            <% if !user07Num.nil? %>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User07Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal07" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% end %>
            <% if !user08Num.nil? %>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User08Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal08" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% end %>
          </ul>
      <div class="mt-5 d-flex justify-content-center">
      <%= link_to "ゲーム開始", fase01think_room_theme_path(@room, @theme), class: "btn btn-main px-5" %>
      </div>
    </div>
  </div>
</div>