<div class='carddetailPage'>
  <div class="container">
      <div class="mx-auto　w-75" style="margin-top: 150px">
        <p class="text-center">各自の役職を確認してください<br>
                                ※ URL共有で各自デバイスにて確認可能</p>
        <!-- どこに01~08のデータが入っているかを宣言しておく-->
        <% roleArray = [@theme.Insider, @theme.Master, @theme.Normal01, @theme.Normal02, @theme.Normal03, @theme.Normal04, @theme.Normal05, @theme.Normal06, @theme.Normal07, @theme.Tag1, @theme.Tag2, @theme.Crazy] %>
        <% userName = [@room.User01Name, @room.User02Name, @room.User03Name, @room.User04Name, @room.User05Name, @room.User06Name, @room.User07Name, @room.User08Name] %>
        <% userRole = [@room.User01Role, @room.User02Role, @room.User03Role, @room.User04Role, @room.User05Role, @room.User06Role, @room.User07Role, @room.User08Role] %>

          <ul class="list-unstyled">
              <li>
                  <div class="d-flex justify-content-around">
                    <div class="btn btn-redBlack">
                      <%= @room.User01Name %>
                    </div>
                    <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal01" data-keyboard="true">
                      確認する
                    </p>
                  </div>
                  <% [*1..@theme.Nop].each do |n|%>
                    <div class="modal fade" id=<%= "Modal0#{n}"%> tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered"><!-- modal-dialog-centeredのクラス追加で真ん中になる -->
                        <div class="modal-content">
                          <div class="modal-body">
                            <p class="text-center p-mb-5">
                              <% pry = roleArray.index("User0#{n}Role")%>
                              <%= @hashu[pry] %>
                              <% if pry == 9 %>
                                <% oo = userRole.index(roleArray[10]) %>
                                <br>ペアは、<%= userName[oo] %>
                              <% end %>
                              <% if pry == 10 %>
                                <% oo = userRole.index(roleArray[9]) %>
                                <br>ペアは、<%= userName[oo] %>
                              <% end %>
                              <% if pry == 11 %>
                                <% oo = userRole.index(roleArray[0]) %>
                                <br>インサイダーは、<%= userName[oo] %>
                              <% end %>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end%>
              </li>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User02Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal02" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User03Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal03" data-keyboard="true">
                    確認する
                  </p>
                </div>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User04Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal04" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% if !roleArray.index("User05Role").nil? %>
               <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User05Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal05" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% end %>
            <% if !roleArray.index("User06Role").nil? %>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User06Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal06" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% end %>
            <% if !roleArray.index("User07Role").nil? %>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User07Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal07" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% end %>
            <% if !roleArray.index("User08Role").nil? %>
              <li>
                <div class="d-flex flex-row">
                  <div class="btn btn-redBlack">
                    <%= @room.User08Name %>
                  </div>
                  <p class="btn btn-blackRed" data-toggle="modal" data-target="#Modal08" data-keyboard="true">
                    確認する
                  </p>
                </div>
              </li>
            <% end %>
          </ul>
      <div class="mt-5 d-flex justify-content-center">
      <%= link_to "ゲーム開始", fase01think_room_theme_path(@room, @theme), class: "btn btn-main px-5" %>
      </div>
    </div>
  </div>
</div>