<!DOCTYPE html>
<html>
  <head>
    <title>インサイダーゲーム</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    
    <%= render partial: "layouts/header" %>

    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %> text-center m-5">
        <a class="close" data-dismiss="alert">×</a>
        <h3><%= msg %></h3>
      </div>
    <% end %> 
    
    <%= yield %>
    <%#= render partial: "layouts/footer" %>
  </body>
    <!-- FOOTER -->
</html>
