<!DOCTYPE html>
<html>
  <head>
    <title>インサイダーゲーム</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>

  <body>
    
    <%= render partial: "layouts/header" %>

    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %> text-center mt-5">
        <a class="close" data-dismiss="alert">×</a>
        <p class="font-weight-bold text-white"><%= msg %></p>
      </div>
    <% end %> 
    
    <div id="wrapper">
      <%= yield %>
    </div>
    <%#= render partial: "layouts/footer" %>
  </body>
    <!-- FOOTER -->
</html>
