<!DOCTYPE html>
<html>
  <head>
    <title>インサイダー・ゲーム(Insider-game)|無料オンラインで始める</title>
    <meta name="description" content="無料オンラインで、あの人気ボードゲーム、
      インサイダー・ゲームができるwebアプリです。人狼ゲームや心理推論ゲームが好きな方におすすめで、4~8名のプレイヤーで1回10分程度でゲームが楽しめます。" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
    
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script data-ad-client="ca-pub-9889486669256076" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

  <body>
    
    <%= render partial: "layouts/header" %>

    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %> text-center mt-5">
        <a class="close" data-dismiss="alert">×</a>
        <p class="font-weight-bold text-white"><%= msg %></p>
      </div>
    <% end %> 
    
    <div id="wrapper">
      <%= yield %>
    </div>
    <%#= render partial: "layouts/footer" %>
  </body>
    <!-- FOOTER -->
</html>
